<script setup lang="ts">
import { useEmployee } from '@/stores/employee'

const { employees } = useEmployee()
</script>

<template>
  <v-parallax src="public/PosGif/bg2.gif">
    <div class="d-flex flex-column  justify-center align-center text-white">
      <h4 class="subheading">
        <div>
          <v-container>
            <v-row>
              <v-col cols="12">
                <h2>รายชื่อพนักงาน</h2>
                <v-sheet min-width="300" width="1000" height="300" elevation="6">
                  <v-table>
                    <thead>
                      <tr>
                        <th class="text-left">ID</th>
                        <th class="text-left">Avatar</th>
                        <th class="text-left">Name</th>
                        <th class="text-left">Position</th>
                        <th class="text-left">Salary</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item of employees" :key="item.id">
                        <td>{{ item.id }}</td>
                        <td>
                          <v-img :src="`public/Employee/Employee${item.id}.jpg`" style="" class="rounded-image"></v-img>
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.positon }}</td>
                        <td>
                          <span>{{ item.salary }}</span>
                        </td>
                      </tr>
                    </tbody>
                  </v-table>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </h4>
    </div>
  </v-parallax>
</template>



<style scoped>
.rounded-image {
  border-radius: 50%;
  width: 50px;
  height: auto;
}
</style>
