<template>
  <div>
    <!-- Check if the user is logged in -->
    <template v-if="!isLoggedIn">
      <main style="background-color:#806044">
        <form style="background-color:#CBB89D">
          <h4>D-Coffee</h4>
          <div class="form_wrapper">
            <input v-model="username" id="input" type="text" required />
            <label for="input">Username</label>
          </div>
          <div class="form_wrapper">
            <input v-model="password" id="password" type="password" required />
            <label for="password">Password</label>
          </div>
          <button @click="login">Login</button>
        </form>
      </main>
    </template>

    <!-- Check if the user is logged in -->
    <template v-else>
      <v-layout class="rounded rounded-md">
        <LayoutAppbar></LayoutAppbar>

        <v-navigation-drawer
          v-model="drawer"
          :rail="rail"
          permanent
          @click="rail = false"
          class="bg-grey-darken-2"
        >
          <v-list-item
            v-if="isLoggedIn"
            prepend-avatar=""
            :title="`${username}`"
            nav
          >
            <template v-slot:append>
              <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
            </template>
          </v-list-item>

          <v-divider></v-divider>

          <v-list density="compact" nav>
            <v-list-item
              class="bg-grey-darken-1"
              prepend-icon="mdi-home-variant-outline"
              title="Home"
              value="home"
              activator="parent"
              :to="{ name: 'home' }"
            ></v-list-item>
            <v-list-item
              class="bg-grey-darken-1"
              prepend-icon="mdi-coffee-outline"
              title="Point of Sale"
              value="Point of Sale"
              :to="{ name: 'pos' }"
            ></v-list-item>
            <v-list-item
              class="bg-grey-darken-1"
              prepend-icon="mdi-store"
              title="Check Stock"
              value="checkstock"
              :to="{ name: 'datailCkeckStock' }"
            ></v-list-item>

            <v-list-group value="Check the Time">
              <template v-slot:activator="{ props }">
                <v-list-item
                  class="bg-grey-darken-1"
                  v-bind="props"
                  prepend-icon="mdi-clipboard-clock-outline"
                  title="Check the Time"
                ></v-list-item>
              </template>
              <v-list-item
                class="bg-grey-lighten-1"
                prepend-icon="mdi-archive-edit-outline"
                title="Check In - Out"
                value="Check In - Out"
                activator="parent"
                :to="{ name: 'checkedit' }"
              ></v-list-item>
              <v-list-item
                class="bg-grey-lighten-1"
                prepend-icon="mdi-account-check "
                title="Status"
                value="status"
                activator="parent"
                :to="{ name: 'checkInCheckOut' }"
              ></v-list-item>
            </v-list-group>

            <v-list-group value="Salary">
              <template v-slot:activator="{ props }">
                <v-list-item
                  class="bg-grey-darken-1"
                  v-bind="props"
                  prepend-icon="mdi-chart-timeline"
                  title="Salary"
                ></v-list-item>
              </template>
              <v-list-item
                class="bg-grey-lighten-1"
                prepend-icon="mdi-account-box"
                title="Employee"
                value="employee"
                activator="parent"
                :to="{ name: 'employee' }"
              ></v-list-item>
              <v-list-item
                class="bg-grey-lighten-1"
                prepend-icon="mdi-chart-histogram"
                title="Salary Payment"
                value="salary Payment"
                activator="parent"
                :to="{ name: 'salaryPayment' }"
              ></v-list-item>
            </v-list-group>
          </v-list>

          <template v-slot:append>
            <div class="pa-2">
              <v-btn block class="bg-grey-darken-3" prepend-icon="mdi-logout" @click="logout"
                >Logout</v-btn
              >
            </div>
          </template>
        </v-navigation-drawer>

        <v-main class="d-flex align-center justify-center" style="min-height: 300px">
          <router-view></router-view>
        </v-main>
      </v-layout>
    </template>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import LayoutAppbar from './components/LayoutMenu/LayoutAppbar.vue'

const rail = ref(true)
const drawer = ref(true)

const users = [
  { username: 'admin', password: '1234' },
  { username: 'user1', password: '1234' },
  { username: 'user2', password: '1234' },
  { username: 'user3', password: '1234' }
]

const username = ref('')
const password = ref('')
const router = useRouter()
const isLoggedIn = ref(false)

const login = () => {
  const foundUser = users.find(
    (user) => user.username === username.value && user.password === password.value
  )

  if (foundUser) {
    isLoggedIn.value = true
    localStorage.setItem('isLoggedIn', 'true')
    localStorage.setItem('username', username.value)
    router.push({ name: 'home' })
  } else {
    alert('ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง')
  }
}

const logout = () => {
  isLoggedIn.value = false
  localStorage.setItem('isLoggedIn', 'false')
  router.push({ name: 'login' })
}

const checkLoginStatus = () => {
  const storedStatus = localStorage.getItem('isLoggedIn')
  isLoggedIn.value = storedStatus === 'true'
}

onMounted(() => {
  checkLoginStatus()
})
</script>

<style scoped>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h4 {
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #b9aeae;
  width: 40%;
  text-align: center;
  margin: auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f2f2f2; /* เปลี่ยนสีพื้นหลังเป็นสีเทาอ่อน */
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

form {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid wheat;
  background-color: transparent;
  backdrop-filter: blur(25px);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100% + 50px); /* เพิ่มความสูงเพิ่มเติม 50px */
}

input[type='text'],
input[type='password'] {
  padding: 10px;
  border: 2px solid white;
  width: 100%;
  border-radius: 25px;
  outline: none;
  background-color: transparent;
  color: white;
}

.form_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

label {
  position: absolute;
  left: 10px;
  font-size: 12px;
  color: white;
  transition: 0.2s;
}

i {
  position: absolute;
  right: 10px;
  color: white;
  font-size: 15px !important;
}

.remember_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

a {
  color: white;
}

button {
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #f2f2f2;
}

input:valid + label,
input:focus + label {
  background-color: white;
  color: black;
  transform: translate(10px, -20px);
  padding: 2px 5px;
  font-size: 8px;
  border-radius: 4px;
}

.new_account {
  text-align: center;
  color: lightgray;
}

header::before {
  position: absolute;
  content: '';
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  box-shadow: 15px 0 0 0 white;
  border-top-right-radius: 50%;
}
header::after {
  position: absolute;
  content: '';
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  box-shadow: -15px 0 0 0 white;
  border-top-left-radius: 50%;
}
</style>

<!-- <v-container fluid>
        <v-row justify="center" align="center">
          <v-col cols="12" sm="8" md="4">
            <v-card>
              <v-card-title class="text-h5">เข้าสู่ระบบ</v-card-title>
              <v-card-text>
                <v-form @submit.prevent="login">
                  <v-text-field
                    v-model="username"
                    label="ชื่อผู้ใช้"
                    outlined
                    required
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    label="รหัสผ่าน"
                    type="password"
                    outlined
                    required
                  ></v-text-field>
                  <v-btn type="submit" color="primary">เข้าสู่ระบบ</v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container> -->
