<script setup lang="ts">
import { userReceiptStore } from '@/stores/receipt'

const receiptStore = userReceiptStore()
</script>
<template>
  <v-table>
    <thead>
      <tr style="background-color: #ede1d2; border-radius: 26px">
        <th>#</th>
        <th>name</th>
        <th>price</th>
        <th>unit</th>
        <th>total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="(item, index) of receiptStore.receiptItems"
        :key="item.id"
        style="background-color: rgb(233, 227, 219); border-radius: 26px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
      >
        <td>{{ index + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <v-btn icon="mdi-minus " @click="receiptStore.dec(item)" density="compact"></v-btn
          >{{ item.unit
          }}<v-btn icon="mdi-plus" @click="receiptStore.inc(item)" density="compact"></v-btn>
        </td>
        <td>{{ item.price * item.unit }}</td>
        <td>
          <v-btn
            icon="mdi-delete"
            @click="
              () => {
                receiptStore.removeReceiptItem(item)
              }
            "
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
